[submodule "gem5"]
	path = gem5
	url = https://gem5.googlesource.com/public/gem5
[submodule "spectre"]
	path = spectre
	url = https://gist.githubusercontent.com/ErikAugust/724d4a969fb2c6ae1bbd7b2a9e3d4bb6
